form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 80px;
}

.formItem {
    width: 40%;
    margin: 10px 0;
}

.formControl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.actions {
    align-items: start;
    width: 40%;
}

.ml16 {
    margin-left: 16px;
}