@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.content {
    border: 1px solid gray;
    display: flex;
    width: 700px;
    margin: 40px 100px;
    padding-right: 5px;
    
   
}

.description {
    padding: 0 0px;
    width: 100%;
}

.img {
    height:200px;
    min-width: 300px;
    padding-right: 5px;
}
.cardHeader {
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-items: center;

}
.review {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.level {
    background-color: #EFF0F0;
    width: 80px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}


.autor{
    width: 100%;
    display: flex;
    justify-content: end;


}
.mb16{
    margin-bottom: 16px;
}
